body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease;
}
body.light-theme {
    background-color: #ececec;
    color: #000000;
}
body.dark-theme {
    background-color: #1A1A1D;
    color: #ffffff;
}
.boxed-text {
    border: 2px solid currentColor;
    padding: 15px;
    margin-top: 20px;
}