<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/about.css">
  <title>Ztea</title>
</head>
<body>
  <div class="page">
    <div class="header" id="headers">
        <div class="inner_header">
          <div class="logo_container">
            <h1>Z<span>Tea</span></h1>
          </div>
          <ul class="navigation">
            <a href="index.html" class="text"><li>Основная</li></a>
            <a id="aboutus"><li>О нас</li></a>
            <a><li>Профиль</li></a>
          </ul>
        </div>
    </div>
    <div>
      <h1 style="font-size: 40px; text-align: center;">Ztea - это компания, страстно увлеченная чаем.</h1>
  <p style="font-size: 30px; text-align: center;">Мы предлагаем <u>широкий</u> выбор <i>высококачественных</i> чаев со всего мира, а также аксессуары и чайные наборы, чтобы вы могли насладиться идеальной чашкой чая.</p>
  <br>
  <dl>
  <dt style="font-size: 25px">ㅤНаша миссия:</dt>
      <dd style="font-size: 20px">ㅤㅤ1.Предоставить нашим клиентам лучший чай со всего мира.</li>
      <dd style="font-size: 20px">ㅤㅤ2.Расширить знания о чае и чайной культуре.</li>
      <dd style="font-size: 20px">ㅤㅤ3.Создать атмосферу, где люди могут собраться вместе, чтобы насладиться чаем и общением.</li>
</dl>
<br>
<dl>
  <dt style="font-size: 25px">ㅤНаши ценности:</dt>
      <dd style="font-size: 20px">ㅤㅤ1.Качество: Мы используем только самые лучшие чайные листья и ингредиенты.</li>
      <dd style="font-size: 20px">ㅤㅤ2.Разнообразие: Мы предлагаем широкий выбор чаев на любой вкус.</li>
      <dd style="font-size: 20px">ㅤㅤ3.Осведомленность: Мы стремимся просвещать наших клиентов о чае и чайной культуре.</li>
      <dd style="font-size: 20px">ㅤㅤ4.Сообщество: Мы создаем гостеприимную атмосферу, где люди могут общаться друг с другом.</li>
</dl>
<br>
<dt style="font-size: 25px">ㅤЧто мы предлагаем:</dt>
      <dd style="font-size: 20px">ㅤㅤ1.Широкий выбор чаев: У нас есть черный чай, зеленый чай, улун, белый чай, травяные чаи и многое другое.</li>
      <dd style="font-size: 20px">ㅤㅤ2.Свежие чайные листья: Мы напрямую закупаем чайные листья у фермеров со всего мира, чтобы гарантировать свежесть и качество.</li>
      <dd style="font-size: 20px">ㅤㅤ3.Аксессуары для чая: У нас есть все необходимое для заваривания идеальной чашки чая, включая чайники, ситечки, чашки и многое другое.</li>
      <dd style="font-size: 20px">ㅤㅤ4.Чайные наборы: Мы предлагаем чайные наборы, которые идеально подходят для подарков или для того, чтобы попробовать новые виды чая.</li>
      <dd style="font-size: 20px">ㅤㅤ5.Информация о чае: На нашем веб-сайте и в магазине вы найдете информацию о чае, чайной культуре и рецепты.</li>
      </dl>
      <br>
      <div style="text-align: center;">
        <h1 class="heading-2 text-uppercase">Мы любим чай!</h1>
    </div>
    </div>
    <footer class="footer">
      <div class="final">
        <div class="final__text">
          <p>
            Данный проект сделан
            <a href="https://github.com/Zaksq" target="_blank">
              Zaksq
            </a>
            с
            <a href="https://github.com/clickusalt" target="_blank">
              Clickusalt
            </a>
          </p>
        </div>
      </div>
  </div>
    </footer>
</body>
</html>