<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/about.css">
  <title>Ztea</title>
</head>
<body>
  <div class="page">
    <div class="header" id="headers">
        <div class="inner_header">
          <div class="logo_container">
            <h1>Z<span>Tea</span></h1>
          </div>
          <ul class="navigation">
            <a href="index.html" class="text"><li>Основная</li></a>
            <a id="aboutus"><li>О нас</li></a>
            <a><li>Профиль</li></a>
          </ul>
        </div>
    </div>
      <div>
        <h1 style="font-size: 20px;"> Ztea - это компания, страстно увлеченная чаем.</h1>
    <p>Мы предлагаем <u>широкий</u> выбор <i>высококачественных</i> чаев со всего мира, а также аксессуары и чайные наборы, чтобы вы могли насладиться идеальной чашкой чая.</p>
      </div>
    <footer class="footer">
      <div class="final">
        <div class="final__text">
          <p>
            Данный проект сделан
            <a href="https://github.com/Zaksq" target="_blank">
              Zaksq
            </a>
            с
            <a href="https://github.com/clickusalt" target="_blank">
              Clickusalt
            </a>
          </p>
        </div>
      </div>
  </div>
    </footer>
</body>
</html>