<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/style.css">
  <title>Ztea</title>
</head>
<body>
  <div class="page">
    <header class="header">
        <div class="inner_header">
          <div class="logo_container">
            <h1>Z<span>Tea</span></h1>
          </div>
          <nav>
            <ul class="navigation">
              <li><a id="main" href="index.html">Основная</a></li>
              <li><a class="text" href="aboutus.html">О чае</a></li>
              <li><a class="text" href="profile.html">Профиль</a></li>
            </ul>
          </nav>
        </div>
    </header>
    <title>О чае</title>
  </style>
</head>
<body>
  <h2>О нашем чае</h2>
  <div class="content">
    <h2>Исследуйте мир чая</h2>
    <p>Чай – один из самых широко употребляемых напитков в мире, и все же в нем по-прежнему много загадок и чудес.</p>
    <p>Например, знаете ли вы, что зеленый, черный и белый чай получают из одного растения? Это правда – все они из <em>куста китайской камелии</em>, но то, как они обрабатываются после сбора урожая, придает им совершенно разные ароматы и вкусовые качества.</p>
    <p>Вот еще один пример: то, что мы называем "травяными чаями", технически вовсе не является "чаями". Травяной чай не содержит листьев <em>китайской камелии</em>. Скорее, его готовят из многих растений, используя не только листья, но и цветы, корни, кору и семена. Эти настои обычно содержат ароматные, полезные ингредиенты, такие как ромашка и мята, и, естественно, совсем не содержат кофеина.</p>
    <h2>Темы для чаевчичаевства</h2>
    <p>Какой бы сорт чая вы ни выбрали, искусство смешивания чая - это сочетание креативности и опыта. Независимо от того, являетесь ли вы экспертом, знающим богатое чайное наследие, или новичком в этом древнем напитке, откройте для себя тайны чая и изучите эти и другие темы вместе с нами. Всегда можно узнать что-то новое о чае.</p>
  </div>  
    </div>
    <footer class="footer">
      <div class="final">
        <div class="final__text">
          <p>
            Данный проект сделан
            <a class="text" href="https://github.com/Zaksq" target="_blank">Zaksq</a>
            с
            <a class="text" href="https://github.com/clickusalt" target="_blank">Clickusalt</a>
          </p>
        </div>
      </div>
    </footer>
  </div>
  </div>
</body>
</html>
