<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/style.css">
  <title>Ztea</title>
</head>
<body>
  <div class="page">
    <div class="header" id="headers">
        <div class="inner_header">
          <div class="logo_container">
            <h1>Z<span>Tea</span></h1>
          </div>
          <ul class="navigation">
            <a><li>Основная</li></a>
            <a><li>О нас</li></a>
            <a><li>Профиль</li></a>
          </ul>
        </div>
    </div>
      <div>
        <button id="themeToggle">Переключить тему</button>
      </div>
      <script>
        document.getElementById('themeToggle').addEventListener('click', function() {
            const currentTheme = document.body.className;
            if (currentTheme === 'light-theme') {
                document.body.className = 'dark-theme';
            } else {
                document.body.className = 'light-theme';
            }
        });
        </script>
    <footer class="footer">
      <div class="final">
        <div class="final__text">
          <p>
            Данный проект сделан
            <a href="https://github.com/Zaksq" target="_blank">
              Zaksq
            </a>
            с
            <a href="https://github.com/clickusalt" target="_blank">
              Clickusalt
            </a>
          </p>
        </div>
      </div>
  </div>
    </footer>
</body>
</html>