<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/style.css">
  <script src="../js/text.js"></script>
  <title>Ztea</title>
</head>
<body>
  <div id="welcome-message" class="welcome-message">welcome-msg</div>
  <div class="page">
    <header class="header">
        <div class="inner_header">
          <div class="logo_container">
            <h1>Z<span>Tea</span></h1>
          </div>
          <nav>
            <ul class="navigation">
              <li><a id="main">Основная</a></li>
              <li><a class="text" href="aboutus.html">О нас</a></li>
              <li><a class="text" href="profile.html">Профиль</a></li>
            </ul>
          </nav>
        </div>
        
    </header>
    <footer class="footer">
      <div class="final">
        <div class="final__text">
          <p>
            Данный проект сделан
            <a class="text" href="https://github.com/Zaksq" target="_blank">Zaksq</a>
            с
            <a class="text" href="https://github.com/clickusalt" target="_blank">Clickusalt</a>
          </p>
        </div>
      </div>
    </footer>
  </div>
  </div>
</body>
</html>
